body {
  background: url(../../img/bg-5.png) fixed;
  background-size: 100%;
  width: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif; }
  body #first ul {
    position: absolute;
    top: 0;
    right: 20px; }
    body #first ul li {
      color: white;
      list-style-type: none;
      display: inline-block;
      padding: 20px 40px;
      font-size: 18px; }
      body #first ul li a {
        text-decoration: none;
        color: white;
        transition: all 0.5s ease; }
      body #first ul li a:hover {
        transition: all 0.3s ease;
        color: #F4D9FF;
        border-bottom: 2.5px solid #F4D9FF;
        padding-bottom: 5px; }
  body #first .logo {
    width: 30%;
    display: block;
    margin: 80px auto; }
  body #first .fleche {
    width: 50px;
    display: block;
    margin: 120px auto 80px auto; }
  body #propos {
    height: 600px;
    background: #EEE6DC;
    top: 400px; }
    body #propos .me {
      width: 450px;
      float: right;
      position: absolute;
      right: 0; }
    body #propos .content {
      padding: 100px 0 0 180px; }
      body #propos .content h1 {
        letter-spacing: 6px;
        font-size: 34px;
        padding-left: 2px; }
      body #propos .content hr {
        border: solid 2px #861657;
        width: 497px;
        margin-left: 0;
        margin-bottom: 30px;
        padding-top: 0; }
      body #propos .content p {
        letter-spacing: 1px;
        width: 500px;
        text-align: justify;
        line-height: 23px;
        margin-bottom: 70px; }
      body #propos .content a {
        text-decoration: none;
        color: #861657;
        transition: all 0.5s ease;
        border: 2px solid #861657;
        border-radius: 10px;
        padding: 10px 25px;
        letter-spacing: 1px;
        font-weight: bolder; }
      body #propos .content a:hover {
        transition: all 0.3s ease;
        background: #861657;
        color: white; }
  body #projet {
    height: 1500px;
    background: #1C5983;
    display: block;
    margin-top: -23px; }
    body #projet .content2, body #projet .content3 {
      margin: 0 auto;
      display: block;
      width: 500px; }
      body #projet .content2 h1, body #projet .content3 h1 {
        letter-spacing: 6px;
        font-size: 34px;
        padding-top: 80px;
        text-align: center;
        color: white;
        font-weight: lighter; }
      body #projet .content2 hr, body #projet .content3 hr {
        border: solid 2px #EEE6DC;
        width: 497px;
        margin-left: 0;
        margin-bottom: 30px;
        padding-top: 0; }
    body #projet .content3 {
      padding-top: 150px; }
    body #projet .photos {
      width: 800px;
      display: block;
      margin: 0 auto; }
      body #projet .photos img {
        width: 47%;
        padding: 10px; }
    body #projet .container {
      margin: 0 auto;
      display: block;
      width: 71%;
      padding-bottom: 100px; }
    body #projet .block-text {
      display: block;
      width: 26%;
      float: right;
      margin-right: 23%;
      margin-top: -596px;
      color: #EEE6DC;
      text-align: justify;
      letter-spacing: 1px;
      line-height: 23px; }
      body #projet .block-text a {
        text-align: center;
        text-decoration: none;
        color: #EEE6DC;
        transition: all 0.5s ease;
        border: 2px solid #EEE6DC;
        border-radius: 10px;
        padding: 10px 25px;
        letter-spacing: 1px;
        margin-left: 97px; }
      body #projet .block-text a:hover {
        transition: all 0.3s ease;
        background: #EEE6DC;
        color: #1C5983; }
  body #footer {
    height: 70px;
    background: #0C3550;
    display: block; }
    body #footer .contentfooter {
      display: block;
      width: 64%;
      margin: 0 auto; }
    body #footer .contact {
      color: white;
      letter-spacing: 5px;
      font-size: 20px;
      padding: 7px 80px 0 100px;
      display: inline-block;
      margin-bottom: 0; }
    body #footer .infocontact {
      display: inline-block;
      color: white; }
    body #footer img {
      display: inline-block;
      height: 20px;
      padding: 10px 20px 0 20px;
      position: relative;
      top: 4px; }
    body #footer a, body #footer p {
      text-decoration: none;
      color: white;
      padding-right: 30px;
      display: inline-block; }

/*# sourceMappingURL=style.css.map */
